@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Press Start 2P", serif;
  src: url('/fonts/PressStart2P-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
:root {
  background-color: #9D9DEA;
}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}